@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Light.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Normal.woff') format('woff');
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('./SourceHanSansSC-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Microsoft YaHei Mono';
    src: url('MicrosoftYaHeiMono.woff2') format('woff2'),
        url('MicrosoftYaHeiMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --md-text-font: "Source Han Sans SC", sans-serif; 
  --md-code-font: "Microsoft YaHei Mono", sans-serif; 
}
